<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emp.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @emp.department %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @emp.salary %>
</p>

<%= link_to 'Edit', edit_emp_path(@emp) %> |
<%= link_to 'Back', emps_path %>
